@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

img{
    max-width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}